@import './bootstrap-reboot.min.css';
@import './bootstrap.min.css';

body {
  overflow-x: hidden;
}

.links {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.slider-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/carousel1.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/carousel2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/carousel3.jpg');
  background-size: cover;
}

.page-header {
  height: 200px;
  background: url('../img/carousel1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.loader {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}

.auth-section {
  margin-top: 2rem;
}
